input.ok-button{
	background-color:#00FF00;
}

input.not-ok-button{
	background-color:#FF0000;
}

#map { height: 450px; }


.nestInfo{
	background-color:"orange";
	border-size:2px;
}

