input.ok-button{
	background-color:#00FF00;
}

input.not-ok-button{
	background-color:#FF0000;
}

#map { height: 450px; }


.nestInfo{
	background-color:"orange";
	border-size:2px;
    font-size: 13px;
}
.nestInfo .ui-bar{
    text-transform: capitalize;
    min-height: 16px;
}
.nestInfo .ui-block-a {
    min-height: 33px;
}
.nestInfo.tempInfo .ui-bar{
    font-size: 12px;
}
/**** 18th Oct BY Krishan ****/

.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}
.login-form-wrapper{
	padding: 10px 20px;
}

.summary-popup-form table {
    margin: 0 auto;
}
.summary-popup-form tr {
    font-size: 15px;
}
.summary-popup-form tr:nth-child(even) {
    background: #e9e9e9;
}
.summary-popup-form{
	padding: 0 8px;
}
.red-banner {
    background: rgba(245, 101, 101, 0.53);
    color: #666;
    padding: 0px 12px;
    border-radius: 6px;
}




.temp-interval .ui-bar{
    height:25px;
    font-size: 11px;
    border: none;
}
.temp-interval .ui-btn {
    padding: 2px 1em 0 44px;
}
.temp-interval .ui-radio {
    margin: 8px 0;
    position: relative;
}
.value-label{
    padding: 10px 5px 2px 5px;
    text-align: center;
    margin: 0 !important;
}
#daysOperating-0{
    display: none;
}
.ui-footer-fixed {
    bottom: -2px;
}
.current-user{
    background: #dedede;
    padding: 5px 0 5px 0px;
    margin: 0px 0 17px 0;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: none;
}
.current-user b{
    text-transform: capitalize;
}
.dismissible_poup{
    position: absolute;
    top: 50px;
    background: rgba(0, 0, 0, 0.67);
    color: #272727;
    width: 100%;
    display: none;
}
#summary_turtle {
    background: rgb(234, 234, 234);
    width: 80%;
    margin: 10px auto -8px;
    padding: 6% 3% 0 6%;
}
.summary_button_wrapper{
    margin: 0 auto -8px;
    padding: 1% 6% 0 6%;
}
#summary_turtle .summary-popup-form tr:nth-child(even) {
    background: transparent;
}
.nestlist li a{
    font-weight: 100;
}
.flag_icon {
    float: right;
    display: inline-block;
    right: 10px;
    position: relative;
    bottom: 10px;
    height: 22px;
    width: 22px;
    background-image: url(../img/flag.png);
    background-size: cover;
}
#depthOfProbeContainer, #endSeason, #tempData{
    display: none;
}
#tempData {
    border: 2px solid #9a9a9a;
    background: #eee;
    box-shadow: none;
    resize: none;
}
.mapNestInfo {
    width: 100%;
    padding: 1px;
    background: #dc434e;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin-top: 3px;
}
#myTable td{
    word-wrap: break-word;
    word-break: break-all;
}